/* line 3, style.scss */
.co-range-slider {
  position: relative;
}
/* line 14, ../angular-range-slider.scss */
.co-range-slider.animate > * {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 18, ../angular-range-slider.scss */
.co-range-slider .track, .co-range-slider .progress {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
}
/* line 26, ../angular-range-slider.scss */
.co-range-slider .track {
  background-color: #dddddd;
  cursor: pointer;
}
/* line 31, ../angular-range-slider.scss */
.co-range-slider .progress {
  background-color: #3388cc;
  cursor: pointer;
}
/* line 36, ../angular-range-slider.scss */
.co-range-slider .handle {
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  background-color: #f6f6f6;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px;
}
/* line 51, ../angular-range-slider.scss */
.co-range-slider.dragging {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
/* line 55, ../angular-range-slider.scss */
.co-range-slider.dragging .handle {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
/* line 61, ../angular-range-slider.scss */
.co-range-slider.horz {
  width: 100%;
  height: 15px;
}
/* line 65, ../angular-range-slider.scss */
.co-range-slider.horz .handle {
  top: 50%;
  left: 0%;
  margin-top: -14px;
}
/* line 72, ../angular-range-slider.scss */
.co-range-slider.vert {
  height: 100%;
  width: 15px;
}
/* line 76, ../angular-range-slider.scss */
.co-range-slider.vert .handle {
  left: 50%;
  bottom: 0px;
  margin-bottom: -14px;
}
/* line 82, ../angular-range-slider.scss */
.co-range-slider.vert .progress {
  bottom: 0px;
}

/* line 7, style.scss */
main {
  margin: 20px;
}
/* line 10, style.scss */
main > div {
  width: 300px;
  height: 40px;
}
/* line 14, style.scss */
main > div.vert {
  height: 300px;
  width: 40px;
}
